* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #12121f;
}

h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

body {
  height: 100vh;
  line-height: 25.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-container a {
  background: #dd6558;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #d2d2d2;
}

.material-icons.md-36 {
  font-size: 36px;
}

form {
  position: relative;
}

form label {
  position: absolute;
  font-size: 14px;
  left: 10px;
  top: 5px;
}

form input {
  border: none;
  background: #ececec;
  width: 100%;
  padding: 25px 10px 10px;
  font-size: 24px;
}

form button {
  position: absolute;
  border: none;
  background: none;
  color: #58aa65;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.result-container {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.result-container .array {
  background: #ececec;
  margin-right: 10px;
  width: 250px;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-container .array h3 {
  margin-bottom: 6px;
}

.result-container .array .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result-container .array .values li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  height: 40px;
  width: 40px;
  background: #d2d2d2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-container .min-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-container .min-max p {
  background: #ececec;
  width: 150px;
  font-size: 20px;
}

.result-container .min-max p:first-child {
  margin-bottom: 15px;
}

.no-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.no-number span {
  margin-right: 5px;
  color: #ddcd55;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=main.css.map */