@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
textarea,
input,
button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #0d1239;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  font-size: 50px;
}

main p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

main .logo img {
  height: 60px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  margin: 10px;
}

form .inputs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .input_container {
  width: calc(50% - 10px);
  margin: 5px;
  position: relative;
}

form .input_container label {
  position: absolute;
  color: #52525f;
  font-size: 13px;
  background: #fff;
  padding: 3px;
  top: -10px;
  left: 10px;
}

form .input_container input {
  width: 100%;
  border: none;
  padding: 10px;
  border: 1px solid #92929f;
  border-radius: 5px;
  font-size: 25px;
}

form .input_container input:not(:placeholder-shown):not(:valid) {
  border-color: #ea3333;
}

form .input_container input:not(:placeholder-shown):not(:valid) ~ label {
  color: #ea3333;
}

form .input_container input:not(:placeholder-shown):focus {
  border-color: #1243f0;
}

form .input_container input:not(:placeholder-shown):focus ~ label {
  color: #1243f0;
}

form .input_container input:not(:placeholder-shown):not(:focus):valid {
  border-color: #358856;
}

form .input_container input:not(:placeholder-shown):not(:focus):valid ~ label {
  color: #358856;
}

form .input_container input:not(:placeholder-shown):focus ~ label {
  color: #1243f0;
}

form button {
  padding: 15px;
  width: calc(100% - 10px);
  margin-top: 15px;
  border: none;
  background: #1243f0;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

form button:disabled {
  opacity: 0.6;
}

form button:not(:disabled):hover {
  border-radius: 0;
  background: #1957ec;
}

.red-screen {
  height: 100vh;
  width: 100vw;
  background: #ea3333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.result {
  margin-top: -10px;
}

.result h1 {
  font-size: 75px;
  letter-spacing: 2px;
}

.result p {
  font-size: 25px;
  text-align: center;
}

.img {
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #52525f;
  opacity: 0.8;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #52525f;
  opacity: 0.8;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #52525f;
  opacity: 0.8;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #52525f;
  opacity: 0.8;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #52525f;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #52525f;
}

/* Animação confetti */
@-webkit-keyframes confetti-slow {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
            transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-slow {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
            transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@-webkit-keyframes confetti-medium {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
            transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-medium {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
            transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@-webkit-keyframes confetti-fast {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
            transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

@keyframes confetti-fast {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
            transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  border: 1px solid white;
  display: fixed;
  top: 0px;
}

.confetti-container {
  -webkit-perspective: 700px;
          perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}

.confetti--animation-slow {
  -webkit-animation: confetti-slow 2.25s linear 1 forwards;
          animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti--animation-medium {
  -webkit-animation: confetti-medium 1.75s linear 1 forwards;
          animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti--animation-fast {
  -webkit-animation: confetti-fast 1.25s linear 1 forwards;
          animation: confetti-fast 1.25s linear 1 forwards;
}

canvas {
  position: absolute;
}

.rain {
  position: absolute;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  -webkit-animation: drop 2s linear infinite;
          animation: drop 2s linear infinite;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  75% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
  100% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  75% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
  100% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#1243f0));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1243f0);
  -webkit-animation: stem 2s linear infinite;
          animation: stem 2s linear infinite;
}

@-webkit-keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: splat 2s linear infinite;
          animation: splat 2s linear infinite;
  display: none;
}

@-webkit-keyframes splat {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes splat {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=main.css.map */